
html, body {
  background-color: #EDF2F7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.chakra-badge {
  transform: scale(.9);
  transform-origin: 0 0;
} */

@media print {
  .paper {
    width: 100vw !important;
  }

  .paper-container {
    padding: 0 !important;
  }
}